extends layout 


block content
    .container.mx-auto.w-full.flex.flex-col.h-full
        .flex.justify-between.grow-0.mt-4
            ul.flex.list-none
                li.mr-6
                    a.text-blue-500(class='hover:text-blue-800' href='/catalog/') Home
                each category in categories 
                    li.mr-6
                        a.text-blue-500(class='hover:text-blue-800' href=category.url) #{category.name}
            ul.flex.list-none
                li.mr-6
                    a.text-blue-500(class='hover:text-blue-800' href='/catalog/category/create') Create New Category
                li.mr-6
                    a.text-blue-500(class='hover:text-blue-800' href='/catalog/item/create') Create New Item
        .flex.flex-col.grow.justify-center.items-center
            h1.mt-6.text-2xl.font-bold #{title}
            img.object-cover.mt-4(class="size-3/6" src=category.url_picture) 
            p.mt-4 #{category.description}
            a.text-blue-500.mt-2(class='hover:text-blue-800' href=category.url_search target="_blank") Read more
            ul.flex.gap-16.mt-6
                a.text-blue-500(class='hover:text-blue-800' href=category.url+"/update") Update the Category 
                a.text-blue-500(class='hover:text-blue-800' href=category.url+"/delete") Delete the Category  
            
            ul.grid.grid-cols-3.gap-4.mt-6
                each item in items
                    li.flex.flex-col.items-center.mb-20
                        p.mb-4.text-slate-800 #{item.title}
                        a(href=item.url_search target="_blank")
                            img.object-cover.h-48.w-96(src=item.url_picture)
                        a.mt-4.text-blue-500(class='hover:text-blue-800' href=item.url) Read More
                    


